html,
body {
    height: 100%;
}

#container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

    #content-login .form-group {
        width: 100%;
        margin: 10px 0px;
    }

    #content-login label {
        font-weight: 500;
        padding: unset;
    }

    #content-login form {
        width: 100%;
    }
