.flex-col {
    flex-direction: column;
}

.title {
    margin-bottom: 50px;
    font-weight: 600;
    color: #ff103c;
}

tr td:first-child {
    color: #1a73e8;
    font-weight: bold;
}

.tab-controls {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Menu page*/
#container-header-menu {
    margin-top: 20px;
}

.btn-header-menu {
    border: 2px solid black;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 125px;
}

.danger {
    border-color: #f44336;
    color: red
}

    .danger:hover {
        background: #f44336;
        color: white;
    }

.container-paged-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#footer-product {
    flex-direction: column;
    align-items: center;
}

    #footer-product span {
        font-size: 18px;
        color: red;
        font-weight: 600;
    }


/*List table*/

.content-table {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container-table a {
        text-decoration: none !important;
        color: none !important;
    }

    .container-table :hover {
        cursor: pointer;
    }

.table-have-people {
    color: red;
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

.btn-add-invoice {
    font-size: 22px;
    color: #4CAF50 !important;
    cursor: pointer;
    border: none;
    background: none;
}

.table-empty {
    justify-content: center;
}

    .table-empty span {
        font-weight: 600;
        color: #428bca;
    }
/*Order*/
#container-order {
    display: flex;
    flex-direction: column;
}

.content-order {
    width: 100%;
}

#waitting .modal-title {
    color: #ff103c;
}

#waitting-food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #waitting-food a {
        padding-top: 6px;
        color: #08d208;
    }


#selectTableOrder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    #selectTableOrder select {
        display: block;
        margin-left: 10px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

#topOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Kitchen*/
/*Pay*/
#table-pay a:hover {
    text-decoration: none;
}

#container-pay {
    margin-top: 50px;
    margin-bottom: 50px;
}

#invoice-infomation {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.invoice-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    .invoice-group span {
        width: 60%;
        margin-left: -9px;
    }

    .invoice-group label {
        font-weight: bold;
    }

    .invoice-group > div {
        width: 60%;
        float: left;
        margin-top: -6px;
    }

        .invoice-group > div span {
            color: red;
            font-size: 20px;
            font-weight: bold;
        }

#invoice-infomation a {
    margin-top: 20px;
    width: 100px;
}

#table-pay-details {
    margin-bottom: 50px;
    margin-top: 50px;
}

#nav-add-invoice {
    margin-top: 50px;
}


.selected-table {
    border: 2px solid yellow;
}

#modalAddTable {
    overflow-y: scroll;
    height: 500px;
}

#invoice-price{
    margin-right: 20px;
}
