
@{
    ViewBag.Title = "Nhà Bếp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="container-kitchen">

        <div class="container-flex blockquote text-center">
            <span class="title">Danh sách món ăn đang đợi</span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Bàn</th>
                    <th>Tên món</th>
                    <th>Số lượng</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListOrder)
                {
                    <tr>
                        <td>@item.Invoice.tableID</td>
                        <td>@item.Product.productName</td>
                        <td>@item.quantity</td>
                        <td><a href="@Url.Action("Complete" ,new { invoiceDetailsID = item.id })" class="glyphicon glyphicon-ok"></a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

